#root {
  background-color: white;
  max-width: 100vw;
  width: 100%;
  /* margin: 0 auto; */
  /* vh : 현재 브라우저의 스크린 높이 */
  min-height: 100vh;
  height: 100%;
  box-shadow: rgba(100, 100, 100, 0.2) 0px 0px 29px 0px;
  padding: 0px 20px;
}
